---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"span"> {
  id: string;
}

const { class: classes, ...attrs } = Astro.props;

// This component will update its text when a NUI message is sent, Ex:
// {
//   type: 'refresh',
//   money: '54321', // Update element id='money' with a text value of '54321'
//   [id]: 'New Text Value'
// }
// <DynamicText id="money">Default Text</DynamicText>
---

<span {...attrs} class:list={["dynamic-text", classes]}>
  <slot />
</span>

<script>
  import { bind } from "~/client";

  function DynamicText(this: HTMLElement) {
    NUI.on("refresh", (data: Record<string, string>) => {
      const text = ''+data[this.id];
      if (text) this.textContent = text;
    });
  }

  bind(".dynamic-text", DynamicText);
</script>
