---
import { Image } from 'astro:assets'; // For optimizing bitmap images in `src/assets`
import { Icon } from "astro-icon"; // For svg/icons from iconify or `src/icons`
import DevBackground from '~/components/DevBackground.astro';
import '~/styles.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body class:list={[
    import.meta.env.PROD && 'hidden',
    ''
  ]}>



    <DevBackground />
  </body>
</html>

<script>
  import { NUI } from '~/client'
  window.NUI = NUI
</script>

